* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Verdana, sans-serif;
    margin: 0px;
    background-color: #e6dcd1;
    text-wrap: wrap;

}

header {
    background-color: #3b547d;
    color: #dedfe0;
    text-align: center;
    font-size: clamp(1rem, 2.4rem, 3.5rem);
    padding: 20px 0px;
}

footer {
    background-color: #3b547d;
    color: #dedfe0;
    text-align: center;
    font-size: 0.8rem;
    padding: 14px 0px; 
   
}

@media only screen and (max-width: 320px) {
    main {
        width: 65ch;
        font-size: 0.4rem;   
    }
    
    footer {
        font-size: 0.4rem;
    }
}

@media only screen and (min-width: 321px) and (max-width: 780px) {
    main {
        width: clamp(40ch, 80vw, 65ch);
        font-size: 0.6rem;   
    }
    
    footer {
        font-size: 0.6rem;
    }
}

.content a {
    display: block;
    margin: 4px;
}


#tableau-container, main {
    margin: 20px;

}

ul {
    list-style: circle;
    margin-left: 6ch;
}

p, h2, div {
    margin: 10px 0px;

}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    color: darkblue;
}