* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    width: 100%;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0px;
    text-wrap: wrap;
    max-width: 100%;

}

header {
    background-color: #3b547d;
    color: #dedfe0;
    text-align: center;
    font-size: clamp(1rem, 2.4rem, 3.5rem);
    padding: 20px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

footer {
    text-align: center;
    font-size: 0.8rem;
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;
    padding-top: 5px;
   
}

@media  (max-width: 320px) {
    body {
        max-width: 55ch;
        font-size: 0.4rem; 
    }

    header {
        font-size: 1rem;
     
    }
    
    footer {
        font-size: 0.4rem;
    }

}

@media only screen and (min-width: 321px) and (max-width: 780px) {
    main {
        width: clamp(40ch, 80vw, 65ch);
        font-size: 0.6rem;   
    }
    
    footer {
        font-size: 0.6rem;
    }
}

.content a {
    display: block;
    margin: 4px;
}


#tableau-container, main {
    margin: 20px;

}

ul {
    list-style: circle;
    margin-left: 6ch;
}

p, h2, div {
    margin: 10px 0px;

}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    color: darkblue;
}